* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
  font-size: 2rem;
}

/* header */
.header {
  background-color: #a09797af;
}

.header .navbar >  ul {
  display: flex;
}

.header .navbar ul li {
  position: relative;
}

.header .navbar ul li a {
  display: block;
  padding: 1.5rem 3rem;
}
.header .navbar ul li ul {
  display: none;
  position: absolute;
  width: 20rem;
  left: 0;
  background-color: #e1e1e1;
  transition: 0.3s;
}

.header .navbar ul li ul li {
  width: 100%;
}

.header .navbar ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}

.header .navbar ul li:hover > a {
  background-color: #a0a0a0;
  color: #fff;
}

.header .navbar ul li:hover > ul{
  display: block;
}